body {
  font-family: "Merriweather", serif;
  background-color: #003049;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-logo {
  display: flex;
  align-items: center;
  margin: 20px;
}

.weather-img {
  width: 100px;
  margin-right: 20px;
}

.weather-text {
  color: #fdf0d5;
  font-size: 50px;
}

.input {
  font-family: "Merriweather", serif;
  width: 150px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
  margin-right: 15px;
}

.search-btn {
  font-family: "Merriweather", serif;
  background-color: #669bbc;
  color: #fdf0d5;
  border: none;
  width: 100px;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
}

.weather-details {
  color: #fdf0d5;
}